.container
  %div
    %img{:src => "/aegir-small.png"}
  %div
    %h1
      %a{:href=>"/"}
        &AElig;gir - a brew blogging tool

  %div
    %h2 
      = @batch_id

  %div
  - @posts.each do |post|
    %div
      %strong
        = post["title"]
      = post["body"]

  %div
    &nbsp;

  %div
    Find me on <a href="http://github.com/terryg/aegir">github</a>.
