%h1
  %a{:href=>"/"}
    &AElig;gir - a brew blogging tool

%div
  %img{:src => "/aegir.jpg"}

%div
  = @user.name

%div
  = @posts

%div
  &nbsp;

%div
  Find me on <a href="http://github.com/terryg/aegir">github</a>.
